<app-header></app-header>
<div class="container forgot-pw">
    <div class="forgot-pw-form">
        <form action="" #signUpForm="ngForm" (submit)="ForgotPassword()">
            <ng-container>
                <div class="reset-pw-head">
                    <span id="auth-head">
                        <h2>Forgot Password</h2>
                    </span>
                </div>
            </ng-container>
            <!-- <ng-container *ngIf="resMsg">
                <div class="alert alert-danger" role="alert" id="loginAlert">
                  {{ resMsg }}
                </div>
              </ng-container> -->
            <div class="row">
                <div class="col-12">
                    <div>
                        <label for="Email">Email Address</label>
                        <input class="form-control" type="email" id="email" autocomplete="off" name="email"  ngModel required>
                        <!-- <h6 class="text-danger" *ngIf="invalidEmail || invalidMobile">
                            {{
                            invalidEmail
                            ? "Invalid Email"
                            : invalidMobile
                            ? "Invalid Mobile"
                            : ""
                            }}
                          </h6> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label for="Password">Password</label>
                        <input class="form-control" type="password" id="password" autocomplete="off" name="password"  ngModel required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <label for="Password">Confirm Password</label>
                        <input class="form-control" type="password" id="confirm-password" autocomplete="off" name="confirm-password"  ngModel required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 button-col">
                    <button class="form-control signin-btn" type="submit">Reset Password</button>
                    <button class="form-control cancel-btn" type="submit" routerLink="/profile/auth">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
