<section class="chemist-section">
    <div class="container">
        <div class="body-head">
            <h2>Need a Technical Question Answered? Call 800-563-1305 or Complete the Form Below</h2>
            <p>Feel free to fill out the form below and one of our qualified personnel will correspond to your needs.
            </p>
        </div>
    </div>
</section>
<section class="ask-form">
    <div class="container">
        <div class="checkout-body">
            <div class="billing-detail">
                <div class="card">
                    <h3>Ask the Chemist</h3>
                    <!-- <form #askchemist="ngForm" (ngSubmit)="saveAskChemistDetail(askchemist)" id="backToTop"> -->
                    <form [formGroup]="chemistForm" (ngSubmit)="saveAskChemistDetail()" id="backToTop">
                        <ng-container *ngIf="resSignupMsg">
                            <div *ngIf="resSignupMsgCheck=='danger'" class="alert alert-danger" role="alert" id="loginAlert" #test>
                                {{ resSignupMsg }}
                                <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                            </div>
                            <div *ngIf="resSignupMsgCheck=='success'" class="alert alert-success" role="alert" id="loginAlert" #test>
                                {{ resSignupMsg }}
                                <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                            </div>
                        </ng-container>
                        <div id="field_4_11" class="gfield">
                            <label class="gfield_label" for="input_4_11">I am interested in*</label>
                            <div class="ginput_container my-2">
                                <select formControlName="input_11" id="input_4_11" class="gfield_select col-12" aria-required="true" aria-invalid="false" ngModel required>
                                    <option value="abatement">VOC abatement</option>
                                    <option value="performance">Improving chemical performance
                                    </option>
                                    <option value="Regulatory">Regulatory compliance
                                        (EPA, OSHA, CARB, OTC)</option>
                                    <option value="Safety">Safety Kleen replacement</option>
                                    <option value="Other">Other – please specify in
                                        messages section</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Please describe your query here *</label>
                                    <textarea class="form-control my-2" id="exampleFormControlTextarea1" rows="3" formControlName="textarea" ngModel required></textarea>
                                    <div *ngIf="chemistForm.controls['textarea'].invalid && (chemistForm.controls['textarea'].dirty || chemistForm.controls['textarea'].touched)" class="alert alert-danger">
                                        Please add your query
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-12 Fname">
                                <label for="first-name">First Name*</label>
                                <input type="text" class="form-control fname my-2" placeholder="First name" id="first-name" formControlName="firstname" ngModel required>
                                <div *ngIf="chemistForm.controls['firstname'].invalid && (chemistForm.controls['firstname'].dirty || chemistForm.controls['firstname'].touched)" class="alert alert-danger">
                                    First Name is required
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="last-name">Last Name*</label>
                                <input type="text" class="form-control my-2" placeholder="Last name" formControlName="lastname" ngModel required>
                                <div *ngIf="chemistForm.controls['lastname'].invalid && (chemistForm.controls['lastname'].dirty || chemistForm.controls['lastname'].touched)" class="alert alert-danger">
                                    Last Name is required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-12 Email">
                                <label for="Email Address">Email Address*</label>
                                <input type="email" class="form-control my-2 email" placeholder="Email" id="Email-Address" (input)="validateEmail($event)" formControlName="email" ngModel required>
                                <h6 class="text-danger" *ngIf="invalidEmail">
                                    {{ invalidEmail ? "Invalid Email" : "" }}
                                </h6>
                                <div *ngIf="chemistForm.controls['email'].invalid && (chemistForm.controls['email'].dirty || chemistForm.controls['email'].touched)" class="alert alert-danger">
                                    Email is required
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <label for="Phone">Phone*</label>
                                <input type="text" class="form-control my-2" placeholder="phone" maxlength="10" (input)="validateMobile($event)" (keydown)="inputMobile($event)" formControlName="phone" ngModel required>
                                <h6 class="text-danger" *ngIf="invalidMobile">
                                    {{ invalidMobile ? "Invalid Mobile" : "" }}
                                </h6>
                                <div *ngIf="chemistForm.controls['phone'].invalid && (chemistForm.controls['phone'].dirty || chemistForm.controls['phone'].touched)" class="alert alert-danger">
                                    Phone Number is required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="street-address">Street Address*</label>
                                <input type="text" class="form-control my-2" placeholder="Street Address" formControlName="address" ngModel required />
                                <div *ngIf="chemistForm.controls['address'].invalid && (chemistForm.controls['address'].dirty || chemistForm.controls['address'].touched)" class="alert alert-danger">
                                    Address is required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 col-12">
                                <label for="Town-city">City*</label>
                                <input type="text" class="form-control my-2" placeholder="Town / City" formControlName="city" ngModel required>
                                <div *ngIf="chemistForm.controls['city'].invalid && (chemistForm.controls['city'].dirty || chemistForm.controls['city'].touched)" class="alert alert-danger">
                                    City is required
                                </div>
                            </div>
                            <div class="col-6 col-12">
                                <label for="state">State*</label>
                                <input type="text" class="form-control my-2" placeholder="State" formControlName="state" ngModel required>
                                <div *ngIf="chemistForm.controls['state'].invalid && (chemistForm.controls['state'].dirty || chemistForm.controls['state'].touched)" class="alert alert-danger">
                                    State is required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="State-County">Country*</label>
                                <input type="text" class="form-control my-2" placeholder="Country" formControlName="country" ngModel required>
                                <div *ngIf="chemistForm.controls['country'].invalid && (chemistForm.controls['country'].dirty || chemistForm.controls['country'].touched)" class="alert alert-danger">
                                    Country is required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="Postcode">Pincode*</label>
                                <input type="text" maxlength="7" (input)="validatePincode($event)" (keydown)="inputPincode($event)" class="form-control my-2" placeholder="Postcode / ZIP" formControlName="zip" ngModel required>
                                <h6 class="text-danger" *ngIf="invalidPincode">
                                    {{ invalidPincode ? "Invalid Pincode" : "" }}
                                </h6>
                                <div *ngIf="chemistForm.controls['zip'].invalid && (chemistForm.controls['zip'].dirty || chemistForm.controls['zip'].touched)" class="alert alert-danger">
                                    Pincode is required
                                </div>
                            </div>
                        </div>
                        <div class="proceed">
                            <div class="proceed-button">
                                <button role="button" class="btn-sm submit-btn" (click)="goToTop()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>