<app-header></app-header>
<ng-container *ngIf="CartShimmer; then elseblock else thenblock"></ng-container>
<ng-template #elseblock>
    <div class="container mt-5">
        <div class="cart-heading">
            <h1 style="white-space: nowrap;">Shopping Cart</h1>
        </div>
        <div class="cart-body">
            <div class="card-elements table-responsive">
                <ng-container *ngFor="let data of [].constructor(3)">
                    <ngx-shimmer-loading [shape]="'square'" width="'100%'" height="'200px'"></ngx-shimmer-loading>
                </ng-container>
            </div>

            <div class="cart cart-total pt-0">
                <ngx-shimmer-loading [shape]="'square'" width="'100%'"></ngx-shimmer-loading>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #thenblock>
    <ng-container *ngIf="!CartShimmer">
        <div class="container">
            <div class="cart-heading">
                <h1 style="white-space: nowrap;">Shopping Cart</h1>
            </div>
            <div class="cart-body" *ngIf="CardShow.length>0">
                <div class="cart-elements table-responsive">
                    <p-table [value]="CardShow" #thenblock>
                        <ng-template pTemplate="header">
                            <tr class="heading-row">
                                <th></th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>SubTotal</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                            <tr>
                                <td>
                                    <div class="cart_image" style="cursor: pointer;">
                                        <img [src]="product.product.image" [alt]="product.product.alt">
                                    </div>
                                </td>
                                <td>
                                    <div class="product_name">
                                        <div class="product_desc">
                                            <h6 style="text-align: left; padding-left: 10px;">{{product.product.name}}
                                            </h6>
                                            <div style="text-align: left; padding: 0 10px;">
                                                <i style="font-size:18px" class="fa">&#xf006;</i>
                                                <i style="font-size:18px" class="fa">&#xf006;</i>
                                                <i style="font-size:18px" class="fa">&#xf006;</i>
                                                <i style="font-size:18px" class="fa">&#xf006;</i>
                                                <i style="font-size:18px" class="fa">&#xf006;</i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{product.product.sale_price| currency:'USD'}}</td>
                                <td>
                                    <div class="quantity">
                                        <button
                                            (click)="UpdateCart('delete' , product.product_id , product.quantity )">-</button>
                                            <p>{{product.quantity}}</p>
                                        <button (click)="Count('increase',rowIndex)"
                                            (click)="UpdateCart('add' ,  product.product_id , product.quantity)">+</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-row">
                                        <span class="price__subtotal">${{product.product.sale_price*product.quantity |
                                            number : '1.2-2'}}</span>
                                    </div>
                                </td>
                                <td>
                                    <span class="delete_item" data-toggle="modal" data-target="#exampleXCenter"
                                        (click)="deleteItemFromCart(product.product.id ,product.quantity )"><i
                                            class="pi pi-times"></i></span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="d-flex justify-content-between" style="align-items: center;">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    In total there are {{CardShow ? CardShow.length : 0 }} products.
                                </div>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
                <div class="card cart-total">
                    <h2 class="mb-0">Cart Totals</h2>
                    <div class="total-price">
                        <ul>
                            <li>
                                <h3>Total</h3>
                            </li>
                            <li>
                                <h3>${{SubTotal | number : '1.2-2'}}</h3>
                            </li>
                        </ul>
                    </div>
                    <div class="proceed">
                        <div class="proceed-button">
                            <button routerLink="/shop/checkout" pButton pRipple type="button"
                                label="Proceed to Checkout" class="p-button-raised p-button-success"
                                style="height:40px; width: 100%;" (click)="StoreCookiesData()"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-cart" *ngIf="CardShow.length==0">
                <div class="row">
                    <div class="card">
                        <div class="card-body cart">
                            <div class="col-sm-12 empty-cart-cls text-center"> <img
                                    src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                    class="img-fluid mb-4 mr-3">
                                <h3><strong>Your Cart is Empty</strong></h3>
                                <h4>Add something to make me happy :)</h4> <a routerLink="/shop"
                                    class="btn btn-success cart-btn-transform m-3" data-abc="true">continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-template>
<app-footer></app-footer>