<section class="request-form">
    <div class="container">
        <div class="form-head">
            <h3>Request A Product Sample</h3>
        </div>
        <form #RequestForm="ngForm" action="">
            <label for="what-item">What item do you wish to clean & what is the surface material?:</label> <br>
            <input name="item" id="item" type="text" ngModel required> <br>

            <label for="item-type">What kind of soil, grease or coating do you wish to remove?:</label> <br>
            <input name="item-type" id="type" type="text" ngModel required> <br>

            <label for="clean">How do you currently clean this item?:</label> <br>
            <input name="clean" id="clean" type="text" ngModel required> <br>

            <label for="chemical">What chemicals or products do you currently use and in what amounts?:</label> <br>
            <input name="chemical" id="chemical" type="text" ngModel required> <br>

            <li id="field_5_10" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                <label class="">Why are you looking to change?</label>
                <div class="">
                    <ul class="" id="">

                        <li class="">
                            <input class="" name="" type="checkbox" value="Service" id="">
                            <label for="" id="">Service</label>
                        </li>
                        <li class="">
                            <input class="" name="" type="checkbox" value="Performance" id="">
                            <label for="" id="">Performance</label>
                        </li>
                        <li class="">
                            <input class="" name="" type="checkbox" value="Cost" id="">
                            <label for="" id="">Cost</label>
                        </li>
                        <li class="">
                            <input class="" name="" type="checkbox" value="Environmental Impact" id="">
                            <label for="" id="">Environmental Impact</label>
                        </li>
                        <li class=" ">
                            <input class="" name="" type="checkbox" value="other? , fill in below" id="">
                            <label for="" id="">other? , fill in below</label>
                        </li>
                    </ul>
                </div>
            </li>
        </form>
    </div>
</section>