<section class="thankyou-section">
    <div class="container">
        <div class="body">
            <h1 class="display-3">Thank You!</h1>
            <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
            <p class="lead"><strong>Your Order PLaced Successfully!</strong>
            </p>
            <span>Thanks for being awesome, we hope you enjoy your purchase</span>
            <hr>
            <p>
                Having trouble? <a href="">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-shop btn-sm" routerLink="/allCategories" role="button">Continue Shopping
                    <img src="assets\icons8-shopping-cart-16.png" alt=""> </a>
            </p>
        </div>
    </div>
</section>