.top-head-section {
  background: whitesmoke;

  .container {
    .top-head-line {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 13px;
        color: #37793a;
        margin-bottom: 0;
      }
    }
  }
}

.nav-link-section {
  background: var(--primary);

  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 35px;
      }

      h1 {
        color: white;
        margin-bottom: 0;
        font-weight: 800;
        margin-left: 20px;
      }
    }

    .responsive-navbar {
      width: 63%;

      .navbar-toggler {
        span {
          i {
            color: white;
            font-weight: 100;
          }
        }
      }

      .navbar-toggler:focus {
        border: none;
        box-shadow: none;
      }

      .menus {
        .navbar-nav {
          list-style: none;
          display: flex;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          width: 100%;

          .nav-item {
            a {
              text-decoration: none;
              color: #fff;
              font-size: 13.5px;
            }

            a:hover {
              color: #000;
            }

            .header-dropdown {
              display: none;
            }
          }

          .nav-item:hover {
            a {
              color: #37793a;
            }

            .header-dropdown {
              width: 18%;
              display: block;
              position: absolute;
              background: whitesmoke;
              z-index: 999;
              padding-left: 0;

              .test {
                margin: 0;
                list-style: none;
                padding: 8px;

                .sub-header-dropdown {
                  display: none;
                }
              }

              .test:hover {
                background: #37793a;

                a {
                  color: #fff;
                }

                .sub-header-dropdown {
                  display: block;
                  position: absolute;
                  background: whitesmoke;
                  z-index: 999;
                  padding-left: 0;
                  left: -230px;
                  width: 230px;
                  margin-top: -32px;

                  .subsublink {
                    .test1 {
                      list-style: none;
                      padding: 8px;

                      a {
                        color: #37793a;
                      }
                    }

                    .test1:hover {
                      background: #37793a;

                      a {
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }

          .fa-user {
            font-size: 18px;
          }
        }
      }

      // li {
      //   position: relative;

      // .header-dropdown {
      //   position: absolute;
      //   z-index: 999;
      //   display: none;
      //   background: #ffffff;
      //   min-height: 100px;
      //   width: 250px;
      //   padding: 20px;

      //   a {
      //     color: #000000;
      //   }

      //   .test:hover {
      //     .sub-header-dropdown {
      //       display: block;
      //       position: absolute;
      //       background: #fff;
      //       left: 0;

      //       .subsublink {
      //         position: absolute;
      //         width: 200px;
      //         left: -210px;
      //         padding: 10px;
      //         top: -77px;
      //         background: #ffff;
      //         li {
      //           padding: 10px;
      //         }
      //       }

      //       .test1 {
      //         display: block;
      //       }
      //     }
      //   }

      //   .test {
      //     .test1 {
      //       display: none;
      //     }
      //   }
      // }
    }

    // li:hover .header-dropdown {
    //   display: block;
    // }

    // a {
    //   text-decoration: none;
    //   color: white;
    // }
    // }
  }
}

.location-head {
  background: #37793a;

  .container {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    justify-content: space-between;
    .location-section {
      display: flex;

      .location {
        i {
          font-size: 15px;
          color: white;
        }
      }

      .address {
        margin-left: 8px;

        a {
          color: white;
          text-decoration-color: #d7d1d1;
        }
      }
    }

    .chat-section {
      width: 80%;
      text-align: right;

      a {
        color: white;
        text-decoration-color: #d7d1d1;
      }
    }
  }
}

.open-menu {
  position: absolute;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(255, 244, 244, 0.08);
  right: 0;
  z-index: 99;
  width: 50%;
  text-align: center;

  .open-menu-responsive {
    display: flex;
    justify-content: center;
  }

  .parent-menu {
    list-style: none;
    margin: 10px 0;

    a {
      color: #37793a;
      text-decoration: none;
    }

    a:hover {
      background-color: #37793a;
      color: #fff;
    }

    .sub-link-responsive {
      display: none;
      .sub-link {
        text-align: left;
        .sub-sub-link-responsive {
          display: none;
          ::marker {
            color: #37793a;
          }
        }
      }

      .sub-link:hover {
        .sub-sub-link-responsive {
          display: block;
        }
      }
    }
  }

  .parent-menu:hover {
    .sub-link-responsive {
      display: block;
    }
  }
}

@media (max-width: 1200px) {
  .nav-link-section .container {
    max-width: 90%;

    .menus {
      ul {
        li {
          font-size: 0.9rem;
        }
      }
    }

    .logo {
      img {
        height: 25px;
      }

      h1 {
        font-size: 1.5rem;
      }
    }

    .responsive-navbar {
      width: 70%;
    }
  }
}

@media (max-width: 1024px) {
  .nav-link-section .container {
    .menus {
      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .responsive-navbar {
    text-align: right;
  }

  .navbar-toggler-icon {
    height: 24px;
  }

  .nav-link-section {
    .container {
      max-width: 900px;
    }
  }

  .top-head-section {
    background: whitesmoke;

    .container {
      max-width: 880px;
    }
  }
}

@media (max-width: 768px) {
  .location-head {
    .container {
      max-width: 765px;
    }
  }
}

@media (max-width: 671px) {
  .nav-link-section .container {
    max-width: 1000px;

    .responsive-navbar {
      width: 55%;
    }
  }
  .location-head {
    .container {
      .location-section {
        .location {
          i {
            font-size: 12px;
          }
        }
        .address {
          a {
            font-size: 12px;
          }
        }
      }
      .chat-section {
        width: auto;
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .open-menu {
    width: 100%;
  }
  .top-head-section {
    .container {
      .top-head-line {
        p {
          font-size: 10px;
        }
      }
    }
  }
  .location-head {
    .container {
      .location-section {
        .location {
          i {
            font-size: 10px;
          }
        }
        .address {
          margin-left: 5px;
          a {
            font-size: 10px;
          }
        }
      }
      .chat-section {
        a {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 419px) {
  .nav-link-section .container {
    max-width: 1000px;

    .responsive-navbar {
      width: 40%;
    }
  }
}
