.top-head-section {
  background: whitesmoke;

  .container {
    .top-head-line {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 13px;
        color: #37793a;
        margin-bottom: 0;
      }
    }
  }
}

.nav-link-section {
  background: var(--primary);

  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        height: 35px;
      }

      h1 {
        color: white;
        margin-bottom: 0;
        font-weight: 800;
        margin-left: 20px;
      }
    }

    .responsive-navbar {
      width: 63%;

      .navbar-toggler {
        span {
          i {
            color: white;
            font-weight: 100;
          }
        }
      }

      .navbar-toggler:focus {
        border: none;
        box-shadow: none;
      }

      .menus {
        ul {
          list-style: none;
          display: flex;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          width: 100%;

          .dropdown:hover>.dropdown-menu {
            display: block;
          }

          .dropdown>.dropdown-toggle:active {
            pointer-events: none;
          }

          .dropdown-menu {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 10px;

            .dropdown-item {
              color: black;
            }

            hr {
              margin: 0;
            }
          }

          .fa-user {
            font-size: 20px;
          }
        }
      }

      li {
        position: relative;

        .header-dropdown {
          position: absolute;
          z-index: 999;
          display: none;
          background: #ffffff;
          min-height: 100px;
          width: 250px;
          padding: 20px;

          a {
            color: #000000;
          }
        }
      }

      li:hover .header-dropdown {
        display: block;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.location-head {
  background: #37793a;

  .container {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    justify-content: space-between;
    .location-section {
      display: flex;

      .location {
        i {
          font-size: 15px;
          color: white;
        }
      }

      .address {
        margin-left: 8px;

        a {
          color: white;
          text-decoration-color: #d7d1d1;
        }
      }
    }

    .chat-section {
      // width: 80%;
      text-align: right;

      a {
        color: white;
        text-decoration-color: #d7d1d1;
      }
    }
  }
}

.open-menu {
  position: absolute;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(255, 244, 244, 0.08);
  right: 0;
  z-index: 99;
  width: 50%;
  padding: 20px;
  text-align: center;

  ul {
    padding-left: 0;
    position: relative;

    li {
      list-style: none;
      padding: 10px;
      a {
        text-decoration: none;
        color: #37793a;
      }
    }
    .header-dropdown {
      display: none;
      list-style: none;
    }

    .parent-menu:hover {
      background-color: #37793a;
      color: #fff;

      a {
        color: #fff;
      }
    }

    .parent-menu:hover.header-dropdown {
      display: block;
    }
  }

  .responsive-menu {
    .open-menu-responsive {
      margin-top: 10px;
    }
    .sub-link-responsive {
      display: none;
      // position: absolute;
      left: 0;
    }

    li:hover {
      .sub-link-responsive {
        display: block;
        background: #fff;
        max-height: 200px;
        min-height: 100px;
        overflow-y: auto;
        .sub-link{
          padding: 0;
          a{
            color: #000000;
          }
        }
        // // left: -132px;
        // // top: 0;
        // height: 300px;
        // width: 200px;
        // overflow-y: auto;
      }
    }
  }
}

@media (max-width: 1200px) {
  .nav-link-section .container {
    max-width: 90%;

    .menus {
      ul {
        li {
          font-size: 0.9rem;
        }
      }
    }

    .logo {
      img {
        height: 25px;
      }

      h1 {
        font-size: 1.5rem;
      }
    }

    .responsive-navbar {
      width: 70%;
    }
  }
}

@media (max-width: 1024px) {
  .nav-link-section .container {
    .menus {
      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .responsive-navbar {
    text-align: right;
  }

  .navbar-toggler-icon {
    height: 24px;
  }

  .nav-link-section {
    .container {
      max-width: 900px;
    }
  }

  .top-head-section {
    background: whitesmoke;

    .container {
      max-width: 880px;
    }
  }
}

@media (max-width: 671px) {
  .nav-link-section .container {
    max-width: 1000px;

    .responsive-navbar {
      width: 55%;
    }
  }
}

@media (max-width: 426px) {
  .open-menu {
    width: 100%;
  }

  .top-head-section {
    .container {
      .top-head-line {
        // display: block;
        p {
          font-size: 10px;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .location-head {
    .container {
      .location-section {
        .location {
          i {
            font-size: 11px;
          }
        }
        .address {
          margin-left: 5px;
          a {
            font-size: 11px;
          }
        }
      }

      .chat-section {
        a {
          font-size: 11px;
        }
      }
    }
  }
  // .top-head-section {
  //   .container {
  //     .top-head-line {
  //       display: block;
  //       p {
  //         font-size: 12px;
  //       }
  //       .mail {
  //         text-align: end;
  //         position: relative;
  //         bottom: 20px;
  //       }
  //     }
  //   }
  // }
}
@media (max-width: 419px) {
  .nav-link-section .container {
    max-width: 1000px;

    .responsive-navbar {
      width: 40%;
    }
  }
}