.container {
    .request-form {
        form {
            .proceed {
                .proceed-button {
                    button {
                        border: none;
                        background: #55b15c;
                        color: #fff;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}