.Order-History-section {
    padding: 20px 40px;
    .order-history-header {
        position: relative;
        margin-bottom: 30px;
        align-items: center;
        .p-button.p-button-success {
            width: 30%;
        }
        .search-ordered-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            input {
                width: 100%;
            }
        }
        .history_product_search {
            position: absolute;
            z-index: 999;
            width: 100%;
            height: 300px;
            overflow: auto;
            ul {
                list-style: none;
                li {
                    list-style: none;
                    cursor: pointer;
                }
            }
        }
        // .dropdown-menu {
        //     margin-top: 10px;
        //     hr {
        //         margin: 0.5rem;
        //     }
        //     a:hover {
        //         background-color: #689f38;
        //         color: #fff;
        //     }
        // }
    }
    .history-list-card {
        .row {
            .card {
                width: 100%;
                margin: 11px 0;
                border: 1px solid #b3b1b1;
                box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                border-radius: 8px;
                padding: 10px;
                .history-image {
                    width: 100%;
                    height: 250px;
                    margin-bottom: 20px;
                    img {
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .history-desc {
                    .product-details {
                        .head {}
                        .desc {
                            margin: 0;
                        }
                        .history-data {
                            display: flex;
                            justify-content: space-between;
                            .qty {
                                margin: 0;
                                font-weight: 700;
                            }
                            .price {
                                font-weight: 700;
                            }
                        }
                        .more-btn {
                            // width: 100%;
                            border: 1px solid #b3b1b1;
                            padding: 6px 6px;
                            border-radius: 5px;
                            text-align: center;
                            font-weight: 600;
                            cursor: pointer;
                            margin-top: 10px;
                        }
                        .cancel-btn {
                            border: 2px solid #e21e22;
                            padding: 6px 6px;
                            background: none;
                            border-radius: 5px;
                            text-align: center;
                            font-weight: 600;
                            cursor: pointer;
                            margin-top: 10px;
                            &:hover {
                                background: #e21e22;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .history-details-card {
        .back {
            margin-bottom: 30px;
            cursor: pointer;
            svg {
                width: 30px;
            }
        }
        .history-item-card {
            .card {
                box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
                padding: 20px;
                .details {
                    width: 100%;
                    margin: 0;
                    padding-bottom: 50px;
                    .card-body {
                        align-items: center;
                        display: grid;
                        grid-template-columns: 34% 63%;
                        grid-gap: 24px;
                        .product-image {
                            margin-bottom: 20px;
                            border-radius: 10px;
                            width: 100%;
                            height: 200px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .description {
                            .product-details {
                                .desc {
                                    margin: 0;
                                }
                                .qty {
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .pro-desc {
                        text-align: justify;
                    }
                }
            }
        }
    }
}
.return-product-list {
    .row {
        .card {
            width: 100%;
            margin: 11px 0;
            border: 1px solid #b3b1b1;
            box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
            border-radius: 8px;
            padding: 20px;
            .product-return-image {
                width: 100%;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.return-product {
    padding: 20px 40px;
    .order-history-header {
        display: grid;
        grid-template-columns: 70% 27%;
        grid-gap: 20px;
        align-items: center;
        .search-ordered-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                width: 100%;
            }
        }
        .dropdown-menu {
            margin-top: 10px;
            hr {
                margin: 0.5rem;
            }
            a:hover {
                background-color: #689f38;
                color: #fff;
            }
        }
    }
    .ordered-item-card {
        .panel-order {
            margin: 50px 0;
            padding: 25px;
            .panel-body {
                .card {
                    margin-bottom: 50px;
                    border-radius: 20px;
                    box-shadow: 0 0px 5px #0003, 0 6px 10px #00000026;
                    padding: 20px;
                }
                .row {
                    width: 100%;
                    margin: 0;
                    .col-lg-3 {
                        padding: 0;
                        align-self: center;
                        .product-image {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 180px;
                                border-radius: 20px;
                            }
                        }
                    }
                    .col-lg-9 {
                        .product-details {
                            padding: 0 1rem;
                            .qty {
                                margin: 0;
                            }
                            .desc {
                                margin: 0;
                            }
                        }
                        .return-btn {
                            background: var(--primary-btn);
                            color: #fff;
                            padding: 5px 15px;
                            border: none;
                            margin-left: 1rem;
                            border-radius: 5px;
                        }
                    }
                }
                .date {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    color: #555;
                    background: #e0e0e0;
                    margin-top: 15px;
                    width: 100%;
                    p {
                        margin: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .dropdown {
        white-space: nowrap;
        border: 1px solid #689f38;
        justify-self: center;
        border-radius: 5px;
        a {
            padding: 0.5rem 1.5rem;
        }
    }
}