<app-header></app-header>
<div class="container">
    <div class="product-detail-section" *ngIf="productDetail.length>0">
        <ng-container *ngFor="let detail of productDetail">
            <div class="product-image">
                <img [src]="detail.data.image" alt="">
            </div>
            <div class="product-detail">
                <div class="product-name">
                    <h3>{{detail.data.name}}</h3>
                </div>
                <!-- <div class="product-rating my-2">
                    <i style="font-size:18px" class="fa">&#xf006;</i>
                    <i style="font-size:18px" class="fa">&#xf006;</i>
                    <i style="font-size:18px" class="fa">&#xf006;</i>
                    <i style="font-size:18px" class="fa">&#xf006;</i>
                    <i style="font-size:18px" class="fa">&#xf006;</i>
                </div> -->
                <div class="product-rate">
                    <div *ngIf="detail.data.sale_price != detail.data.regular_price">
                        <p class="sale_price">{{detail.data.sale_price | currency}}</p>
                        <h3>{{detail.data.regular_price | currency}}</h3>
                    </div>
                    <div *ngIf="detail.data.sale_price == detail.data.regular_price">
                        <h3>{{detail.data.regular_price | currency}}</h3>
                    </div>
                    <ng-container *ngIf="detail.data.in_stock==1">
                        <p>Availability : In Stock</p>
                    </ng-container>
                    <ng-container *ngIf="detail.data.in_stock==0">
                        <p>Availability : Out of Stock</p>
                    </ng-container>
                </div>
                <div class="product-desc">
                    <div [innerHtml]="this._ApiService.getSantizedData(detail.data.short_desc)"></div>
                </div>
                <div class="product-info">
                    <ul>
                        <li>SKU: {{detail.data.sku}}</li>
                        <li>hsn :{{detail.data.hsn}}</li>
                        <li>Tag: {{detail.data.tag}}</li>
                    </ul>
                </div>
                <div class="d-flex" style="justify-content: space-between; max-width: 320px; align-items: center;">
                    <div class="add-to-cart">
                        <div class="counter">
                            <button (click)="Count('decrease')">-</button>
                            <input type="text" pInputText [(ngModel)]="count" />
                            <button (click)="Count('increase')">+</button>
                        </div>
                        <div class="addtocartbutton">
                            <button routerLink="/productdetail/cart" pButton pRipple type="button" label="Add to Cart"
                                class="p-button-raised p-button-success" style="height:38px;"></button>
                        </div>
                    </div>
                    <div class="wishlist" routerLink="/productdetail/wishlist">
                        <span><i class="pi pi-heart" aria-hidden="true" title="Wishlist"></i></span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
  <ng-container *ngIf="productDetail.length==0">
    <div style="text-align: center; border: 1px solid #dedede; margin: 100px 0;">
        <h3>No data found</h3>
    </div>
</ng-container>

    <div class="product-detail-tab my-3">
        <ng-container *ngFor="let detail of productDetail">
            <p-tabView>
                <p-tabPanel header="Description">
                    <h5><strong>Description</strong></h5>
                    <div [innerHtml]="this._ApiService.getSantizedData(detail.data.description)"></div>
                    <!-- <strong>Benefits</strong>
                    <ul>
                        <li>Non-toxic</li>
                        <li>Lower odor</li>
                        <li>Faster dry-time</li>
                        <li>More aggressive</li>
                        <li>Ultra-low residue</li>
                        <li>Safe &amp; easy to use</li>
                        <li>No hazardous fumes</li>
                        <li>High dielectric strength, (ASTM D-877 test procedures to 48,000 volts.)</li>
                        <li>No SARA or RCRA listed ingredients</li>
                    </ul>
         -->
                </p-tabPanel>
                <p-tabPanel header="Additional Information">
                    <h5><strong>Additional Information</strong></h5>

                    <ul>
                        <li style="font-size: 18px;">
                            <b>Weight</b> : {{detail.data.weight}}
                        </li>
                        <li style="font-size: 18px;">
                            <b>Height</b> : {{detail.data.height}}
                        </li>
                        <li style="font-size: 18px;">
                            <b>Shipping class</b> : {{detail.data.shipping_class}}
                        </li>
                    </ul>
                    <!-- For use by customers seeking a high-performance environmentally preferred alternative. POSITRON is used
                    for a variety of electrical cleaning tasks. Use POSITRON in place of chlorinated solvents for all types of
                    electrical and mechanical cleaning.
                    
                    Use undiluted. Spray or wipe POSITRON on surface to be cleaned; oil dirt and carbon will flow off surface.
                    If additional cleaning is desired, wipe with rag or brush.
                    
                    <strong>Safety and Handling Precautions</strong>
                    
                    Use with adequate ventilation. If vapor mist is generated, use a NIOSH certified organic vapor respirator
                    with a dust and mist filter. Nitrile gloves and Safety glasses are recommended. Treat as combustible liquid.
                    All rags used in conjunction with this product must be placed in a metal sealable container after use to
                    avoid possible spontaneous combustion. Keep container closed. Avoid excessive contact with fumes or liquid.
                    Refer to label and <a href="https://ecolink.com/wp-content/uploads/positron_msds.pdf" target="_blank"
                        rel="noopener noreferrer">MSDS</a> before use. -->
                </p-tabPanel>
            </p-tabView>

        </ng-container>
        <div class="recommendation-product">
            <h3>Recommended Products</h3>
            <app-card-slider></app-card-slider>
        </div>
    </div>
</div>
<app-footer></app-footer>