.container {
    .bulk-pricing-form {
        .form-head {
            h3 {
                margin: 25px 0;
            }
        }
        .gfield .ginput_container .gfield_select {
            border-color: #e1e1e1;
            background-color: #fcfcfc;
            width: 100%;
            padding: 0.375rem 0.75rem;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            margin-bottom: 20px;
        }
        .proceed {
            button {
                box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
                border: 1px solid #d7d1d1;
                border-radius: 5px;
                font-size: 18px;
                margin: 20px auto;
                color: white;
                background: #55b15c;
                padding: 5px 25px;
            }
        }
    }
}
