.blog-section {
    margin: 30px 0;

    .container {
        .responsive-blog-search {
            display: none;
        }
        .blog-calltoaction {
            display: grid;
            grid-template-columns: 65% 33%;
            grid-gap: 21px;

            .blog {
                padding-right: 20px;

                .head-calltoaction {
                    border-radius: 5px;
                    height: 150px;
                    background-image: url("https://www.aragen.com/wp-content/uploads/2021/02/SM-Discovery-Chemistry-Synthetic-Chemistry-Landing.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    align-items: center;
                    position: relative;

                    .shop-chemical {
                        position: absolute;
                        width: 100%;
                        bottom: 20px;
                        text-align: center;

                        button {
                            border: 1px solid var(--primary);
                            background: var(--primary);
                            color: white;
                            border-radius: 5px;
                            padding: 5px 10px;
                            bottom: 0;
                        }
                    }
                }

                .blog-image {
                    margin: 30px 0;
                    height: 350px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                .blog-text {
                    overflow: hidden;
                    p {
                        font-size: 18px;
                        line-height: 30px;
                        text-align: justify;
                        margin-bottom: 0;
                    }
                }
            }

            .calltoactionshop {
                position: relative;

                .chemicalscalltoaction {
                    background-image: url("https://media.istockphoto.com/photos/laboratory-picture-id135018895?b=1&k=20&m=135018895&s=170667a&w=0&h=3UL2zI-gkLfi9kt0_jWyW1jbPRYakBxVm716_LtXyB0=");
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border: 1px solid #d7d1d1;
                    border-radius: 10px;
                    background-size: cover;
                    align-items: center;
                    position: relative;
                    height: 300px;

                    .chemical-div {
                        position: absolute;
                        width: 100%;
                        bottom: 20px;
                        text-align: center;

                        button {
                            border: 1px solid var(--primary);
                            background: var(--primary);
                            color: white;
                            border-radius: 5px;
                            padding: 5px 10px;
                            bottom: 0;
                        }
                    }
                }

                .blog-search {
                    text-align: center;
                    padding: 20px 0;

                    span {
                        width: 100%;

                        input {
                            width: 100%;
                            border-radius: 20px;
                            border: 1px solid lightgray;
                            height: 35px;
                            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                            padding-left: 25px;
                        }
                    }
                }

                .ctasection {
                    // height: calc(100% - 377px);
                    height: 350px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border: 1px solid #d7d1d1;
                    border-radius: 10px;
                    background: whitesmoke;
                    position: relative;
                    background-size: cover;
                    object-fit: cover;
                    background-image: url("https://www.chem-map.com/wp-content/uploads/2019/11/Chemicals-scaled.jpg");
                    position: sticky;
                    top: 15%;
                    .innerctadiv {
                        position: absolute;
                        width: 100%;
                        bottom: 10%;
                        text-align: center;

                        button {
                            border: 1px solid var(--primary);
                            background: var(--primary);
                            color: white;
                            border-radius: 5px;
                            padding: 5px 10px;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .blog-section {
        .container {
            .responsive-blog-search {
                display: block;
                text-align: center;
                padding: 20px 0;

                span {
                    width: 100%;

                    input {
                        width: 100%;
                        border-radius: 20px;
                        border: 1px solid lightgray;
                        height: 35px;
                        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                        padding-left: 25px;
                    }
                }
            }
            .blog-search {
                display: none;
            }
            .blog-calltoaction {
                grid-template-columns: 100%;
                .calltoactionshop {
                    .chemicalscalltoaction {
                        margin-bottom: 30px;
                        height: 270px;
                    }
                    .ctasection {
                        height: 270px;
                    }
                }
            }
        }
    }
}
