.dashboard-section {
    padding: 20px 40px;

    .profile-card {
        padding: 20px 0;

        .profile-section {
            text-align: center;
            padding: 30px 20px;
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;

            .profile-image {
                width: 160px;
                height: 150px;
                margin: auto;
                border-radius: 100%;

                img {
                    width: 100%;
                    border-radius: 100%;
                    height: 100%;
                }
            }

            .profile-desc {
                h4 {
                    font-size: 20px;
                    margin: 0;
                }
            }

            .edit-profile-button {
                button {
                    border: none;
                    background: none;
                    border: 1px solid #dedede;
                    padding: 6px 10px;
                    border-radius: 3px;
                    font-weight: 500;

                    &:hover {
                        background: var(--primary);
                        color: white;
                    }
                }
            }
        }

        .address-section {
            padding: 30px 20px;

            .customer_name {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                h4 {
                    margin: 0;
                }

                i {
                    border: 1px solid var(--primary);
                    padding: 5px;
                    border-radius: 100%;
                }
            }

            span.address-label {
                font-size: 14px;
                margin-top: 10px;
                color: #7e7979;
            }

            .edit-Address-button {
                button {
                    border: none;
                    background: none;
                    border: 1px solid #dedede;
                    padding: 6px 10px;
                    border-radius: 3px;
                    font-weight: 500;

                    &:hover {
                        background: var(--primary);
                        color: white;
                    }
                }
            }
        }
    }
}

.modal-body {
    .row {
        margin: 0;
    }
    .add-user {
        text-align: right;
        .saveuserdetail {
            width: fit-content;
            background: var(--primary);
            text-align: right;
        }
    }
}

.Edit-Profile-section {
    padding: 20px 40px;
    .edituserdetail {
        width: fit-content;
    }
    input {
        margin: 12px 0;
    }
    .btn {
        background: var(--primary);
        border: var(--primary);
        color: #fff;
    }
    .add-user {
        text-align: "right";
    }
    .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(77, 207, 77, 0.25);
    }
}

.Order-History-section {
    padding: 20px 40px;

    .order-history-header {
        display: grid;
        grid-template-columns: 70% 27%;
        grid-gap: 20px;
        align-items: center;
        .search-ordered-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 100%;
            }
        }
        .dropdown-menu {
            margin-top: 10px;
            hr {
                margin: 0.5rem;
            }
            a:hover {
                background-color: #689f38;
                color: #fff;
            }
        }
    }
    .ordered-item-card {
        .panel-order {
            // background: #eee;
            margin: 50px 0;
            padding: 25px;
            .panel-body {
                .row {
                    width: 100%;
                    margin: 0;
                    padding-bottom: 50px;
                    .col-md-3 {
                        align-self: center;
                    }
                    .col-md-9 {
                        padding: 0;
                        border-left: 1px solid #ccc;

                        .product-details {
                            padding: 0 1rem;
                            .head {
                                font-size: 1.5rem;
                            }
                            .qty {
                                margin: 0;
                                font-size: 1.1rem;
                            }
                            .desc {
                                font-size: 1.1rem;
                            }
                            .price {
                                font-size: 1.1rem;
                            }
                        }
                        .return-btn {
                            background: var(--primary-btn);
                            color: #fff;
                            font-size: 1.2rem;
                            padding: 5px 15px;
                            border: none;
                            margin: 1rem;
                            border-radius: 5px;
                        }
                    }
                }
                .date {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    color: #555;
                    background: #e0e0e0;
                    margin-top: 15px;
                    width: 100%;
                    p {
                        margin: 0;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .dropdown {
        white-space: nowrap;
        border: 1px solid #689f38;
        justify-self: center;
        border-radius: 5px;
        a {
            padding: 0.5rem 1.5rem;
        }
    }
}

.Addresses-section {
    padding: 20px 40px;
    .address-body {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 15px;
        .address-card {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            .address-text {
                padding: 10px;
                p {
                    margin: 0;
                }
                .address {
                    display: flex;
                }
                .sub-address {
                    display: flex;
                }
                .crud-btn {
                    padding: 15px 0;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    p {
                        color: rgb(43, 43, 209);
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

::ng-deep {
    .search-ordered-item {
        .p-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .p-inputtext {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
@media (max-width: 1200px) {
    .dashboard-section {
        .profile-card {
            .profile-section {
                display: block;
            }
        }
    }
}
@media (max-width: 992px) {
    .Order-History-section {
        .ordered-item-card {
            .panel-order {
                .panel-body {
                    .row {
                        .col-md-9 {
                            .product-details {
                                .desc {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .Edit-Profile-section {
        .row {
            width: 100%;
            margin: 0;
        }
        .add-user {
            text-align: center;
        }
    }
    .Addresses-section {
        .address-body {
            display: block;
            .address-card {
                .address-text {
                    .address {
                        margin: 5px 0;
                    }
                    .sub-address {
                        margin: 5px 0;
                    }
                    .crud-btn {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .dashboard-section {
        h2 {
            font-size: 1.6rem;
        }
    }
    .Order-History-section {
        .order-history-header {
            grid-template-columns: 55% 45%;
            grid-gap: 0;
            width: 100%;
        }
    }
    .p-button.p-button-success {
        width: 35%;
    }
}
@media (max-width: 767px) {
    .Order-History-section {
        .ordered-item-card {
            .panel-order {
                .panel-body {
                    .row {
                        display: block;
                        .col-md-3 {
                            margin: auto;
                            margin-bottom: 30px;
                            text-align: center;
                            img {
                                width: 200px;
                            }
                        }
                        .col-md-9 {
                            margin: auto;
                            border: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .dashboard-section {
        .profile-card {
            .profile-section {
                margin-bottom: 20px;
            }
            .address-section {
                .customer_name {
                    h4 {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .Order-History-section {
        .order-history-header {
            display: block;
        }
        .dropdown {
            margin-top: 20px;
            width: 50%;
        }
        .search-ordered-item {
            width: 100%;
        }
    }
}
