<div class="dashboard-section" *ngIf="showdesc == 'Dashboard'">
    <h2>Dashboard</h2>
    <div class="profile-card">
        <div class="row" *ngFor="let item of userDetail">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card profile-section">
                    <div class="profile-image">
                        <img src="{{item.profile_image}}" alt="">
                    </div>
                    <div class="profile-desc">
                        <div class="profile-detail my-3">
                            <h4>{{item.name}}</h4>
                            <p class="m-0 p-0">{{item.email}}</p>
                        </div>

                        <div class="edit-profile-button my-2">
                            <button>Edit Profile</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card address-section">
                    <div class="customer_name my-3">
                        <h4>Add Address</h4>
                        <i (click)="getUserDetail('add')" data-bs-toggle="modal" data-bs-target="#exampleModal" class="pi pi-plus"></i>

                    </div>
                    <div class="default-Address">
                        {{item.address}}, {{item.city}} <br>{{item.state}}, {{item.country}}, {{item.pincode}}
                    </div>
                    <span class="address-label"> Phone Number </span>
                    <span>{{item.mobile}}</span>
                    <span class="address-label">Email Address</span>
                    <span>{{item.email}}</span>
                    <div class="edit-Address-button my-2">
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Address</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Edit-Profile-section" *ngIf="showdesc == 'Edit Profile'">
    <h2>Edit Profile</h2>
    <form>
        <div class="mb-3">
            <label for="first-name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first-name" aria-describedby="FirstHelp">
        </div>
        <div class="mb-3">
            <label for="last-name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last-name">
        </div>
        <div class="mb-3">
            <label for="Email Id" class="form-label">Email Id</label>
            <input type="email" class="form-control" id="email-id">
        </div>
        <div class="mb-3">
            <label for="phone-number" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="phone-number">
        </div>
        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>
<div class="Order-History-section" *ngIf="showdesc == 'Order History'">
    <h2>Order History</h2>
    <div class="order-history-header">
        <div class="search-ordered-item">
            <input type="text" pInputText placeholder="Search Ordered Item...." /> <button pButton pRipple type="button"
                label="Search" class="p-button-success"></button>
        </div>
        <div class="dropdown">
            <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                All Products<i class="fa fa-angle-down mx-2"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Success</a>
                <hr>
                <a class="dropdown-item" href="#">Cancelled</a>
                <hr>
                <a class="dropdown-item" href="#">Pending</a>
            </div>
        </div>
    </div>
    <div class="ordered-item-card"></div>
</div>
<div class="Addresses-section" *ngIf="showdesc == 'Addresses'">
    <div class="adderess-head">
        <h2>Shipping Addresses</h2>
        <p>To select a default shipping address for checkout, click "Set as my default".</p>
    </div>
    <div class="address-body">
        <div class="address-card" *ngFor="let item of allUserAddresses">
            <div class="address-text">
                <h4>{{item.name}}</h4>
                <div class="address">
                    <p>{{item.address}}</p>
                    <p>, {{item.landmark}}</p>
                </div>
                <div class="sub-address">
                    <p>{{item.city}}</p>
                    <p>, {{item.state}}</p>
                    <p>({{item.zip}})</p>
                    <p>, {{item.country}}</p>
                </div>
                <p>{{item.mobile}}</p>
                <div class="crud-btn">
                    <p (click)="getUserDetail(item)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</p>
                    <p  data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete</p>
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Delete Address</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Are you sure, you want to delete this address??
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteUserAddress(item.id)">Delete</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <p>Set as default</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Wishlist-section" *ngIf="showdesc == 'Wishlist'">
    <h2>Wishlist</h2>
</div>
<div class="Logout-section" *ngIf="showdesc == 'Logout'">
    <h2>Logout</h2>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" *ngFor="let item of profileAddress">
            <div class="modal-header" >
                <h4 class="modal-title" id="exampleModalLabel">{{item.heading}}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="resetValue(signUpForm)"></button>
            </div>
            <div class="modal-body container">
                <form #signUpForm="ngForm" (ngSubmit)="addUserAddress(signUpForm)">
                    <ng-container *ngIf="resSignupMsg">
                        <div class="alert alert-danger" role="alert" id="loginAlert" #alert>
                            {{ resSignupMsg }}
                        </div>
                    </ng-container>
                    <input type="text" name="id" [(ngModel)]="item.id" style="display: none;">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <label for="first-name">First Name</label>
                                <input class="form-control" type="text" id="firstname" autocomplete="off"
                                    name="firstname" maxlength='50' [(ngModel)]="item.firstname" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <label for="last-name">Last Name</label>
                                <input class="form-control" type="text" id="lastname" autocomplete="off" maxlength='50'
                                    name="lastname" [(ngModel)]="item.lastname" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <label for="email">Email</label>
                                <input class="form-control" type="email" id="email" autocomplete="off" name="email"
                                    (input)="validateEmail($event)" [(ngModel)]="item.email" required />
                                <h6 class="text-danger" *ngIf="invalidEmail">
                                    {{ invalidEmail ? "Invalid Email" : "" }}
                                </h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <label for="phone-number">Phone Number</label>
                                <input class="form-control" type="text" id="phonenumber" autocomplete="off"
                                    name="phonenumber" maxlength="10" (input)="validateMobile($event)"
                                    (keydown)="inputMobile($event)" [(ngModel)]="item.mobile" required />
                                <h6 class="text-danger" *ngIf="invalidMobile">
                                    {{ invalidMobile ? "Invalid Mobile" : "" }}
                                </h6>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <label for="landmark">Landmark</label>
                                <input class="form-control" type="text" id="landmark" autocomplete="off" name="landmark"
                                [(ngModel)]="item.landmark" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <label for="address">Address</label>
                                <input class="form-control" type="text" id="address" autocomplete="off" name="address"
                                [(ngModel)]="item.address" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <label for="country">Country</label>
                                <input class="form-control" type="text" id="country" autocomplete="off" name="country"
                                [(ngModel)]="item.country" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <label for="state">State</label>
                                <input class="form-control" type="text" id="state" autocomplete="off" name="state"
                                [(ngModel)]="item.state" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <label for="city">City</label>
                                <input class="form-control" type="text" id="city" autocomplete="off" name="city" [(ngModel)]="item.city"
                                    required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <label for="pincode">Pincode</label>
                                <input class="form-control" type="text" id="pincode" autocomplete="off" name="pincode"
                                [(ngModel)]="item.zip" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 add-user">
                            <button class="saveuserdetail btn btn-success my-3 form-control" data-bs-dismiss="modal">Save Address</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>