.dashboard-section {
    padding: 20px 40px;
    .profile-card {
        padding: 20px 0;
        .profile-section {
            text-align: center;
            padding: 30px 20px;
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            .profile-image {
                width: 160px;
                height: 150px;
                margin: auto;
                border-radius: 100%;
                img {
                    width: 100%;
                    border-radius: 100%;
                    height: 100%;
                }
            }
            .profile-desc {
                h4 {
                    font-size: 20px;
                    margin: 0;
                }
            }
            .edit-profile-button {
                button {
                    border: none;
                    background: none;
                    border: 1px solid #dedede;
                    padding: 6px 10px;
                    border-radius: 3px;
                    font-weight: 500;
                    &:hover {
                        background: var(--primary);
                        color: white;
                    }
                }
            }
        }
        .address-section {
            padding: 30px 20px;
            .customer_name {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                h4 {
                    margin: 0;
                }
                i {
                    border: 1px solid var(--primary);
                    padding: 5px;
                    border-radius: 100%;
                }
            }
            span.address-label {
                font-size: 14px;
                margin-top: 10px;
                color: #7e7979;
            }
            .edit-Address-button {
                button {
                    border: none;
                    background: none;
                    border: 1px solid #dedede;
                    padding: 6px 10px;
                    border-radius: 3px;
                    font-weight: 500;
                    &:hover {
                        background: var(--primary);
                        color: white;
                    }
                }
            }
        }
    }
}

.fa-close:hover {
    cursor: pointer;
}









::ng-deep {
    .search-ordered-item {
        .p-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .p-inputtext {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

@media (max-width: 1200px) {
    .dashboard-section {
        .profile-card {
            .profile-section {
                display: block;
            }
        }
    }
    .return-product {
        .ordered-item-card {
            .panel-order {
                .panel-body {
                    .row {
                        .col-lg-3 {
                            .product-image {
                                img {
                                    height: 180px;
                                }
                            }
                        }
                        .col-lg-9 {
                            .product-details {
                                .head {
                                    font-size: 1.2rem;
                                }
                                .desc {
                                    font-size: 1rem;
                                    margin: 0;
                                }
                                .price {
                                    font-size: 1rem;
                                }
                                .status {
                                    font-size: 1rem;
                                }
                            }
                            .return-btn {
                                margin-left: 1rem !important;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .Order-History-section {
        .ordered-item-card {
            .panel-order {
                .panel-body {
                    .row {
                        .col-md-9 {
                            .product-details {
                                .desc {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .history-list-card {
            .row {
                .card {
                    .history-image {
                        height: 150px;
                    }
                }
            }
        }
        .history-details-card {
            .history-item-card {
                .card {
                    .details {
                        .card-body {
                            .product-image {
                                height: 180px;
                            }
                            .description {
                                padding: 0 0 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .Addresses-section {
        .address-body {
            display: block;
            .address-card {
                .address-text {
                    .address {
                        margin: 5px 0;
                    }
                    .sub-address {
                        margin: 5px 0;
                    }
                    .crud-btn {
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .dashboard-section {
        h2 {
            font-size: 1.6rem;
        }
    }
    .Order-History-section {
        .order-history-header {
            grid-template-columns: 55% 45%;
            grid-gap: 0;
            width: 100%;
            margin-bottom: 15px;
        }
        .history-details-card {
            .back {
                margin-bottom: 15px;
                svg {
                    width: 25px;
                }
            }
            .history-item-card {
                .card {
                    .details {
                        .card-body {
                            // display: grid;
                            // grid-template-columns: 25% 75%;
                            .product-image {
                                height: 140px;
                                width: 140px;
                            }
                            .description {
                                .product-details {
                                    h5 {
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .p-button.p-button-success {
        width: 35%;
    }
    .return-product {
        .ordered-item-card {
            .panel-order {
                .panel-body {
                    .row {
                        .col-lg-9 {
                            .product-details {
                                .head {
                                    font-size: 1rem;
                                }
                                .desc {
                                    font-size: 0.8rem;
                                    margin: 0;
                                }
                                .price {
                                    font-size: 0.8rem;
                                }
                                .status {
                                    font-size: 0.8rem;
                                }
                            }
                            .return-btn {
                                margin-left: 1rem !important;
                                margin: 0;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .return-product {
        .ordered-item-card {
            .panel-order {
                padding: 4px;
                .panel-body {
                    .row {
                        .col-lg-3 {
                            .product-image {
                                margin-bottom: 20px;
                            }
                        }
                        .col-lg-9 {
                            padding: 0;
                            .product-details {
                                padding: 0;
                            }
                            .return-btn {
                                margin: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .Order-History-section {
        .history-details-card {
            .history-item-card {
                .card {
                    .details {
                        .card-body {
                            display: block;
                            padding: 0;
                            .product-image {
                                margin: auto;
                                margin-bottom: 20px;
                            }
                            .description {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .Order-History-section {
        .ordered-item-card {
            .panel-order {
                .panel-body {
                    .row {
                        display: block;
                        .col-md-3 {
                            margin: auto;
                            margin-bottom: 30px;
                            text-align: center;
                            img {
                                width: 200px;
                            }
                        }
                        .col-md-9 {
                            margin: auto;
                            border: none;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .return-product {
        .ordered-item-card {
            .panel-order {
                .panel-body {
                    .row {
                        .col-lg-3 {
                            img {
                                // width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .dashboard-section {
        .profile-card {
            .profile-section {
                margin-bottom: 20px;
            }
            .address-section {
                .customer_name {
                    h4 {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .Order-History-section {
        .order-history-header {
            display: block;
        }
        .dropdown {
            margin-top: 20px;
            width: 50%;
        }
        .search-ordered-item {
            width: 100%;
        }
    }
}

::ng-deep {
    .ngx-shimmer {
        height: 200px !important;
    }
}