<app-header></app-header>
<section class="inner-pages">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="page-desc">
                    <section *ngIf="data.slug=='ask-the-chemist'">
                        <app-ask-chemist></app-ask-chemist>
                    </section>
                    <div [innerHtml]=this._apiService.getSantizedData(data.description) *ngIf="data.description"></div>
                    <section *ngIf="data.slug=='contact'">
                        <app-google-map></app-google-map>
                    </section>
                    <section *ngIf="data.slug=='request'">
                        <app-products-request></app-products-request>
                    </section>
                    <section *ngIf="data.slug=='supportform'">
                        <app-support-form></app-support-form>
                    </section>
                </div>
            </div>
            <div class="col-4">
                <div class="inner_sidebar extralight-border">
                    <nav class="widget widget_nav_menu widget_nav_hide_child">
                        <ul class="nested_nav" *ngFor="let link of data.links">
                            <li class="page_item page-item-17541" style="cursor: pointer;"
                                routerLink="/inner-pages/{{link.related_page.slug}}">{{link.related_page.title}}</li>
                        </ul>
                        <ul>
                            <li class="page_item page-item-17436 current_page_item" style="list-style: none;">Would You
                                Like
                                to Work for a Company. . .</li>
                        </ul>
                    </nav>
                    <section id="text-5" class="widget clearfix widget_text">
                        <div class="textwidget">
                            <p><a class="shopButton2020" routerLink="/shop/allCategories">SHOP</a><br>
                                <a class="requestButton2020" routerLink="/inner-pages/contact/request">REQUEST A SAMPLE</a><br>
                                <a class="pdsButton2020" href="/inner-pages/contact/support">REQUEST PDS / TDS</a><br>
                                <a class="contactButton2020" href="/inner-pages/contact">CONTACT US</a>
                            </p>
                        </div>
                        <span class="seperator extralight-border"></span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>