.fa-close:hover {
    cursor: pointer;
}

.Addresses-section {
    padding: 20px 40px;
    .address-body {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 15px;
        .address-card {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 1px solid #d7d1d1;
            border-radius: 10px;
            .address-text {
                padding: 10px;
                p {
                    margin: 0;
                }
                .address {
                    display: flex;
                }
                .sub-address {
                    display: flex;
                }
                .crud-btn {
                    padding: 15px 0;
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                    p {
                        color: rgb(43, 43, 209);
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .addAddress {
        cursor: pointer;
        border: 1px solid #d7d1d1;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;
        background: whitesmoke;
        margin: 10px 0;
        .addAddressCol {
            padding: 10px;
            justify-content: center;
            display: flex;
            align-items: center;
            i {
                margin: 0 5px;
                border: 1px solid #d7d1d1;
                border-radius: 100%;
                background: whitesmoke;
                padding: 3px;
            }
        }
    }
}

@media (max-width: 992px) {
    .Addresses-section {
        .address-body {
            display: block;
            .address-card {
                .address-text {
                    .address {
                        margin: 5px 0;
                    }
                    .sub-address {
                        margin: 5px 0;
                    }
                    .crud-btn {
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
}