<div class="Addresses-section" *ngIf="showdesc == 'Addresses'">
    <div class="adderess-head">
        <h2>Shipping Addresses</h2>
        <p>To select a default shipping address for checkout, click "Set as my default".</p>
    </div>
    <ng-container *ngIf="resSignupMsg">
        <div *ngIf="resSignupMsgCheck=='success'" class="alert alert-success" role="alert" id="loginAlert" #test>
            {{ resSignupMsg }}
            <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
        </div>
    </ng-container>
    <ng-container *ngIf="allUserAddresses.length>0">
        <div class="address-body">
            <div class="address-card" *ngFor="let item of allUserAddresses">
                <div class="address-text">
                    <h4>{{item.name}}</h4>
                    <div class="address">
                        <p>{{item.address}}</p>
                        <p>, {{item.landmark}}</p>
                    </div>
                    <div class="sub-address">
                        <p>{{item.city}}</p>
                        <p>, {{item.state}}</p>
                        <p>({{item.zip}})</p>
                        <p>, {{item.country}}</p>
                    </div>
                    <p>{{item.mobile}}</p>
                    <div class="crud-btn">
                        <p (click)="getUserDetail(item)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</p>
                        <p (click)="deleteUserAddress(item.id)">Delete</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row addAddress" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getUserDetail('add')">
            <div class="col-12 addAddressCol">
                <h4 class="m-0">Add Address</h4>
                <i class="pi pi-plus"></i>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!(allUserAddresses.length>0)">
        <div class="row addAddress" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getUserDetail('add')">
            <div class="col-12 addAddressCol">
                <h4 class="m-0">Add Address</h4>
                <i class="pi pi-plus"></i>
            </div>
        </div>
    </ng-container>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content" *ngFor="let item of profileAddress">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">{{item.heading}}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                <app-adress-modal [profileaddress]="profileAddress"></app-adress-modal>
            </div>
        </div>
    </div>
</div>