.contact-us-section {
    display: grid;
    grid-template-columns: 40% 58%;
    grid-gap: 14px;

    .detail-section {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: 1px solid #d7d1d1;
        border-radius: 10px;
        padding: 10px;

        .contact-heading {
            p {
                margin-bottom: 0;
            }

            .country-buttons {
                .button-row {
                    .button-col {
                        padding-top: 5px;
                        padding-bottom: 5px;

                        button {
                            background: #55b15c;
                            color: white;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            border: 1px solid #d7d1d1;
                            border-radius: 10px;
                            padding: 5px;
                            width: 100%;
                        }

                        button:hover {
                            background: whitesmoke;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.sample-policy-section {
    margin: 50px 0;
}

.contact-us-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #d7d1d1;
    border-radius: 10px;
    padding: 30px;

    .contact-form-heading {
        text-align: center;

        h2 {
            margin-bottom: 30px;
        }
    }

    form {
        .proceed {
            .proceed-button {
                button {
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    border: 1px solid #d7d1d1;
                    border-radius: 5px;
                    font-size: 18px;
                    margin: 20px auto;
                    color: white;
                    background: #55b15c;
                    padding: 5px 25px;
                }
            }
        }
    }
}