#loginAlert1 {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 50%;
    align-content: center;
    margin: 10px auto;

    p {
        margin-bottom: 0;
    }
}



@media(max-width:768px) {
    #loginAlert1 {
        width: 100%;
    }
}