<app-header></app-header>
<section class="page-not-found">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="image">
                    <img src="assets\404 Error Page not Found with people connecting a plug-amico.png" alt="">
                </div>
            </div>
            <div class=" col-lg-6 col-md-6 align-self-center">
                <div class="desc">
                    <h1>404</h1>
                    <h2>UH OH! You're lost.</h2>
                    <p>The page you are looking for does not exist.
                        How you got here is a mystery. But you can click the button below
                        to go back to the homepage.
                    </p>
                    <button class="btn btn-sm shop">Contine Shopping</button>

                </div>
            </div>
        </div>
    </div>
</section>