<section>
    <div class="container">
        <section class="request-form">
            <h1 class="main-title">Contact Ecolink’s Technical Support Center</h1>
            <p>
            <p>Ecolink’s online technical support provides documented responses via email to your product application
                and handling questions.
            </p>
            <p>You may also call <strong>800-563-1305</strong> to speak to an Ecolink technical specialist or send an
                email to <a href="mailto:techsupport@ecolink.com">techsupport@ecolink.com</a></p>
            <div class="form-head">
                <h3>Contact Product Support</h3>
            </div>

            <form #RequestForm="ngForm" (ngSubmit)="saveSupportFormDetail(RequestForm)" id="backToTop">
                <ng-container *ngIf="resSignupMsg">
                    <div *ngIf="resSignupMsgCheck=='danger'" class="alert alert-danger" role="alert" id="loginAlert"
                        #test>
                        {{ resSignupMsg }}
                        <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                    </div>
                    <div *ngIf="resSignupMsgCheck=='success'" class="alert alert-success" role="alert" id="loginAlert"
                        #test>
                        {{ resSignupMsg }}
                        <span class="icon-class"><i class="fa fa-close" (click)="close()"></i></span>
                    </div>
                </ng-container>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Please list your Ecolink product and describe your
                                product application question or issue:*</label>
                            <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"
                                name="textarea" ngModel required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6 col-12">
                        <label for="first-name">First Name*</label>
                        <input type="text" class="form-control mt-2" id="first-name" name="firstname" ngModel required>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label for="last-name">Last Name*</label>
                        <input type="text" class="form-control mt-2" name="lastname" ngModel required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="user-name">Email*</label>
                        <input type="text" class="form-control mt-2" id="first-name" name="email"
                            (input)="validateEmail($event)" ngModel required>
                        <h6 class="text-danger" *ngIf="invalidEmail">
                            {{ invalidEmail ? "Invalid Email" : "" }}
                        </h6>
                    </div>
                    <div class="col-6">
                        <label for="street-address">Phone*</label>
                        <input type="text" class="form-control mt-2" (input)="validateMobile($event)" maxlength="10"
                            (keydown)="inputMobile($event)" name="phone" ngModel required>
                        <h6 class="text-danger" *ngIf="invalidMobile">
                            {{ invalidMobile ? "Invalid Mobile" : "" }}
                        </h6>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="street-address">Address*</label>
                        <input type="text" class="form-control mt-2" name="address" ngModel required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label for="street-address">Address 2</label>
                        <input type="text" class="form-control mt-2" name="address" ngModel>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6 col-12">
                        <label for="user-name">City*</label>
                        <input type="text" class="form-control mt-2" id="first-name" name="city" ngModel required>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label for="last-name">State*</label>
                        <input type="text" class="form-control mt-2" name="state" ngModel required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-6 col-12">
                        <label for="user-name">Pincode*</label>
                        <input type="text" class="form-control mt-2" (input)="validatePincode($event)" (keydown)="inputPincode($event)" id="first-name" name="pincode" ngModel required>
                        <h6 class="text-danger" *ngIf="invalidPincode">
                            {{ invalidPincode ? "Invalid Pincode" : "" }}
                        </h6>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label for="last-name">Country*</label>
                        <input type="text" class="form-control mt-2" name="country" ngModel required>
                    </div>
                </div>
                <div class="proceed">
                    <div class="proceed-button">
                        <button role="button" class="btn-sm submit-btn p-button-success"
                            (click)="goToTop()">Submit</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>